In [2]:
import quandl
import requests
import json
import pandas as pd

# only necessary once
# quandl.ApiConfig.api_key = "G8yT1Es4LcyARrmBzP8g"
# quandl.ApiConfig.api_version = '2015-04-09'

test_tuple = (u'Sales Administrator', u'wix.com', u'Tel Aviv/ Ramat Gan',
              u'1 Full-time', 'datetime.datetime(2018, 5, 3, 0, 0)')
new_result = (test_tuple,)

def ticker_query(company):
    """query yahoo API to get company name"""
    converter = \
        'http://d.yimg.com/autoc.finance.yahoo.com/autoc?query=%s&lang=en' \
        % company
    req = requests.get(converter, headers={'User-Agent': 'Mozilla/5.0'})
    nice_data = json.loads(req.text)
    try:
        ticker = nice_data['ResultSet']['Result'][0]['symbol']
    except:
        ticker = None
    return ticker


def stock_lookup(ticker, key):
    """hit quandl API"""
    # url = 'https://www.quandl.com/api/v3/datasets/EOD/%(ticker)s.csv' \
    #       '?api_key=%(key)s' % {ticker: ticker, key:key}

ticker = ticker_query(new_result[0][1])
if ticker != None:
    mydata = quandl.get("WIKI/%s" % ticker, rows=5)

In [3]:
mydata.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,86.50,87.65,85.50,87.00,527523.0,0.0,1.0,86.50,87.65,85.50,87.00,527523.0
2018-03-22,85.65,87.20,84.00,84.15,626096.0,0.0,1.0,85.65,87.20,84.00,84.15,626096.0
2018-03-23,83.65,84.95,78.65,78.80,672072.0,0.0,1.0,83.65,84.95,78.65,78.80,672072.0
2018-03-26,80.10,83.20,79.05,83.05,468742.0,0.0,1.0,80.10,83.20,79.05,83.05,468742.0
2018-03-27,83.95,83.95,77.10,77.65,724469.0,0.0,1.0,83.95,83.95,77.10,77.65,724469.0

In [6]:
row_data = mydata.iloc[0]